<app-header (featureSelected)="onNavigate($event)"></app-header>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
           <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
           <!-- <app-shopping-list><div>This is custom footer</div></app-shopping-list>---this is
           the code for ng-content as without ng-content the contents inside our component element
           will not be displayed-->
           <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list>
        </div>
    </div>
</div>




    
